# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
env/

# SUMO large outputs
# sim/outputs/edge_data.xml
# data_raw/
# data_processed/
results/pricing/
results/final_pack/

# OS
.DS_Store
Thumbs.db
